* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    border: none;
    /*appearance: none;*/
    outline: none;
}

body {
    height: 100vh;
    background-color: #575656;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
    background-color: #1C1D21;
    padding: 28px 21px;

    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
}

.header-title {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
}

/*MAIN*/
.main {
    display: flex;
    flex-direction: column;
    padding: 28px 0 0 0;
}


/*CONVERTER*/
.converter {
    position: relative;

    display: flex;
    /*flex-direction: column;*/
    gap: 8px;
}

.converter-btn {
    width: 44px;
    height: 44px;
    border-radius: 24px;
    background-color: #A0FFD4; /* #ccccff */
    font-size: 24px;

    line-height: 1;
    padding: 0;

    cursor: pointer;

    transition: background-color 0.3s ease, transform 0.3s ease;
}

.converter-btn:hover {
    background-color: #C3FFE4;
}

.converter-from,
.converter-in {
    width: 394px;
    height: 142px;
    background-color: #222327;
    padding: 16px;
}

.converter-select {
    font-size: 14px;
    font-weight: lighter;
    color: #A0FFD4;
    background: #222327;
}

.converter-title {
    font-size: 46px;
    font-weight: normal;
    color: #fff;
}

.converter-description {
    color: #fff;
    margin-top: 16px;
    font-size: 14px;
    font-weight: lighter;
}