* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    border: none;
    /*appearance: none;*/
    outline: none;
}

body {
    height: 100vh;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 550px;
    height: 852px;
    background-color: #1C1D21;
    padding: 42px 21px;

    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
}

.header-title {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
}

/*MAIN*/
.main {
    display: flex;
    flex-direction: column;
}

.converter {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.converter-from,
.converter-in {
    width: 394px;
    height: 142px;
    background-color: #222327;
    padding: 16px;
}

.converter-select {
    font-size: 14px;
    font-weight: lighter;
    color: #A0FFD4;
    background: none;
}

.converter-title {
    font-size: 46px;
    font-weight: normal;
    color: #fff;
}

.converter-description {
    color: #fff;
    margin-top: 16px;
    font-size: 14px;
    font-weight: lighter;
}